@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1{
  @apply  text-[56px] font-alata;
}

h5{
  @apply text-[24px] font-alata;
}

*{
  @apply font-montserrat;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.grafico{
@apply absolute;
  clip:rect(0px,155px, 77px,0px);
}
.porcentagem{
@apply absolute;
  clip:rect(0px,77px, 77px,0px);
}

/* width */
::-webkit-scrollbar { 
    width: 0px; 
} 
  

::-webkit-scrollbar-track { 
    background: none; 
} 
  
/* Handle */
::-webkit-scrollbar-thumb { 
    background: none; 
    border-radius: 5px; 
} 
